<mat-accordion *ngIf="orders.length > 0">
    <mat-expansion-panel *ngFor="let order of orders">
        <mat-expansion-panel-header>
            {{order.descr}}
        </mat-expansion-panel-header>
        <p>{{order.tipo}}</p>
        <p>{{order.pallets}}</p>
        <mat-action-row>
            <button mat-button color="primary">Editar</button>
            <button mat-button color="warn">Eliminar</button>
        
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p *ngIf="orders.length <=0">Sin ordenes</p>