<!-- <mat-card>
    <form (submit)="onOrderAdded(orderForm)" #orderForm="ngForm">
        <mat-form-field>
            <input type="text" 
            matInput
            name="descr"
            ngModel
            required
            #descr="ngModel" 
            placeholder="Order descr"
            >
        </mat-form-field>

        <mat-form-field>
            <input type="text" 
            matInput
            ngModel
            required
            name="tipo" 
            #tipo="ngModel" 
            placeholder="Tipo de Bolsas a usar"
            >
        </mat-form-field>

        <mat-form-field>
            <input type="text" 
            matInput
            ngModel
            required
            name="pallets" 
            #pallets="ngModel" 
            placeholder="Cantidad de Pallets"
            >
        </mat-form-field>
        <button
        mat-raised-button
        color="accent"
        type="submit"
        >Salvar Orden</button>
    </form>
</mat-card> -->

<mat-card>
    <form #formDirective="ngForm" [formGroup]="orderForm" (ngSubmit)="submitForm(orderForm, formDirective)" novalidate>
        <mat-form-field>
            <input type="text" 
            matInput
            formControlName="descr" class="form-control"
            name="descr"
            required 
            placeholder="Order descr"
            >
        </mat-form-field>

        <mat-form-field>
            <input type="text" 
            matInput
            required
            formControlName="tipo" class="form-control"
            name="tipo" 
            placeholder="Tipo de Bolsas a usar"
            >
        </mat-form-field>

        <mat-form-field>
            <input type="text" 
            matInput
            formControlName="pallets" class="form-control"
            required
            name="pallets" 
            placeholder="Cantidad de Pallets"
            >
        </mat-form-field>
        <button
        mat-raised-button
        color="accent"
        type="submit"
        >Salvar Orden</button>
    </form>
</mat-card>
<app-order-list></app-order-list>